if BOARD_MS60

config ZMK_KEYBOARD_NAME
	default "Mystery_60"

if USB

config USB_DEVICE_STACK
    default y

config USB_NRFX
    default y

endif # USB

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_EXT_POWER
	default y

endif # 






